.idea/
.DS_Store
*.iml
*.swp

**/bin
.project
.settings
.classpath
.gradle
?
gradlehome/
gradle-app.setting
!gradle-wrapper.jar

.vertx
vertx.log
.swagger
.openapi-generator/
openapicodegenvertxserverjava/

.java-version

build/
out/
**/node_modules

**/*.csv
